*~
*\#
.project
.settings
.buildpath
build
port/work
vessel.cflags
vessel.config
vessel.creator
vessel.creator.user
vessel.cxxflags
vessel.files
vessel.includes
src/lib/tcl/libvesseltcl.so
src/lib/tcl/libvesselsqlite.so
test/error.log
test/testrun/